.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#7F7F7F;letter-spacing:0em;}
.Heading_2 {font-family:'Lato Light';font-weight:300;font-style:normal;font-size:32px;text-decoration:none;color:#000000;letter-spacing:0em;}
.Heading_3 {font-family:'Lato Light';font-weight:300;font-style:normal;font-size:24px;text-decoration:none;color:#377395;letter-spacing:0em;}
